@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
.plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.plans__duration {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plans__duration span {
  font-weight: 700;
  color: hsl(213, 96%, 18%);
}

.plan {
  height: 125px;
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 10px;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.plan:active {
  border: 1px solid hsl(213, 96%, 18%);
}
.plan img {
  width: 40px;
}
.plan__info-title {
  font-weight: 700;
  color: hsl(213, 96%, 18%);
  margin-bottom: 7px;
}
.plan__price {
  color: hsl(213, 96%, 18%);
  opacity: 0.6;
}

.checkbox__wrap {
  position: relative;
  background: hsl(213, 96%, 18%);
  width: 55px;
  height: 25px;
  border-radius: 100vh;
  margin: 0 20px;
}
.checkbox__wrap::before {
  content: "";
  position: absolute;
  inset-block: 0;
  left: 5px;
  top: 3px;
  width: 17px;
  height: 17px;
  border-radius: 100vh;
  background: hsl(0, 0%, 100%);
  transition: transform 0.4s ease;
}
.checkbox__wrap:has(input[type=checkbox]:checked)::before {
  transform: translateX(30px);
}
.checkbox__wrap input[type=checkbox] {
  opacity: 0;
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.add {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 0.5px solid hsl(231, 11%, 63%);
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.add__container {
  display: flex;
  flex-direction: column;
}
.add__info {
  padding: 15px 0;
  margin-top: 8px;
}
.add__title {
  font-size: 16px;
  color: hsl(213, 96%, 18%);
  font-weight: 700;
  margin: 0;
}
.add__subtitle {
  margin-top: 10px;
  opacity: 0.5;
}
.add__price {
  color: hsl(243, 100%, 62%);
  font-weight: 700;
}
.add input {
  border: 1px solid hsl(206, 94%, 87%);
}

.checkbox-style {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.checkbox-style input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox__checkmark {
  position: absolute;
  top: 35%;
  left: 20px;
  height: 25px;
  width: 25px;
  background-color: hsl(229, 24%, 87%);
  transition: 0.25s ease;
  border-radius: 4px;
}
.checkbox__checkmark::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid hsl(0, 0%, 100%);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.checkbox-style input:checked ~ .checkbox__checkmark {
  background-color: hsl(243, 100%, 62%);
}

.checkbox-style input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
}

.finish__container {
  background: hsl(229, 24%, 87%);
  border-radius: 10px;
  padding: 20px;
}

.finish__plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid hsl(231, 11%, 63%);
  padding-bottom: 20px;
}
.finish__plan-title {
  margin: 0;
  color: hsl(213, 96%, 18%);
  font-weight: 700;
  font-size: 19px;
}
.finish__plan-change {
  margin: 0;
  padding-top: 10px;
  opacity: 0.7;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  cursor: pointer;
}
.finish__plan-change:hover {
  opacity: 1;
}
.finish__plan-price {
  color: hsl(213, 96%, 18%);
  font-weight: 700;
  font-size: 17px;
}
.finish__price {
  color: hsl(213, 96%, 18%);
  font-weight: 400;
  font-size: 16px;
}

.online__service-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.online__service-title {
  color: hsl(231, 11%, 63%);
  font-size: 17px;
}

.storage__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.storage__title {
  color: hsl(231, 11%, 63%);
  font-size: 17px;
}

.total {
  padding: 20px;
}
.total__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total__price {
  font-weight: 700;
  font-size: 20px;
  color: hsl(243, 100%, 62%);
}
.total__title {
  color: hsl(231, 11%, 63%);
  font-size: 17px;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  position: absolute;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  height: 75%;
  width: 50%;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 10px 40px 15px rgba(0, 0, 0, 0.15);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hsl(0, 0%, 100%);
}

.sidebar {
  padding: 32px;
  border-radius: 15px;
  background: hsl(243, 100%, 62%);
  color: hsl(0, 0%, 100%);
}

.step {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}
.step__subtitle {
  margin-bottom: 5px;
  opacity: 0.5;
  font-size: 14px;
}
.step__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
}
.step__num {
  background: transparent;
  border: 1px solid hsl(0, 0%, 100%);
  height: 30px;
  border-radius: 15px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: end;
  cursor: pointer;
}

.picks__container {
  position: relative;
}

.personal__info-container {
  padding: 5px 50px;
}
.personal__info-title {
  font-size: 32px;
  color: hsl(213, 96%, 18%);
  margin-bottom: 0;
}
.personal__info-subtitle {
  opacity: 0.85;
  color: hsl(231, 11%, 63%);
}

.form__label {
  display: block;
  color: hsl(213, 96%, 18%);
  font-size: 14px;
  padding-bottom: 8px;
}
.form__input {
  width: 95%;
  height: 35px;
  padding-left: 10px;
  border-radius: 8px;
  outline: none;
  background: none;
  border: 1px solid hsl(229, 24%, 87%);
  margin-bottom: 20px;
  color: hsl(213, 96%, 18%);
  font-size: 17px;
}
.form__input::-moz-placeholder {
  opacity: 0.55;
  font-weight: 600;
}
.form__input::placeholder {
  opacity: 0.55;
  font-weight: 600;
}

.next__step-btn {
  position: absolute;
  bottom: 10%;
  right: 13%;
  height: 45px;
  font-size: 16px;
  padding: 0 30px;
  background: hsl(213, 96%, 18%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.next__step-btn:hover {
  opacity: 0.95;
}

.back__step-btn {
  position: absolute;
  bottom: 10%;
  left: 5%;
  height: 45px;
  font-size: 16px;
  padding: 0 30px;
  background: transparent;
  color: hsl(213, 96%, 18%);
  border: none;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}
.back__step-btn:hover {
  opacity: 0.95;
}

.active {
  background: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
  border: none;
}/*# sourceMappingURL=main.css.map */